.idea
.vscode
DS_Store

**/node_modules
**/package-lock.json
**/.env

server/.DS_Store
server/dist
server/serviceAccountKey.json

app/.pnp
app/.pnp.js
app/coverage
app/build
app/.env

pwa/build
pwa/coverage
pwa/.pnp
pwa/.pnp.js
pwa/.env
