.answers-table {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    overflow: hidden;
}

.answers-header,
.answers-body {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.answers-header {
    background: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 12px 0;
    text-transform: uppercase;
}

.answers-body:nth-child(even) {
    background-color: #f2f2f2;
}

.answers-cell {
    align-self: center;
    width: 33%;
}

.answers-cell--actions {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    place-content: space-evenly;
    width: 33%;
}

.answers-cell--actions>* {
    margin-bottom: 2%;
}

.question-countdown {
    color: red !important;
    font-size: 65px;
}

.question-content {
    font-size: 2.2vw;
    font-weight: bold;
    color: dodgerblue !important;
}

.question-content-imageless {
    font-size: 3vw;
    font-weight: bold;
    color: dodgerblue !important;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-class {
    width: 90%;
}

@media only screen and (min-width: 1024px) {
    .answers-cell {
        width: 50%;
    }
    .answers-cell--actions {
        display: block;
        font-size: 25px;
    }
    .answers-cell--actions>* {
        margin-right: 2%;
    }
    .question-content {
        font-size: 1.45vw;
    }
    .question-content-imageless {
        font-size: 1.85vw;
        font-weight: bold;
        color: dodgerblue !important;
    }
}