@import '~antd/dist/antd.css';

.container {
  padding: 0 50px;
  overflow: initial;
}

.app-header {
  padding: 0;
}

.cancel-btn-form {
  margin-left: 15px;
}

.header {
  height: 6vh;
}

.event-rounds-card {
  margin-right: 15px !important;
  margin-bottom: 15px;
}

.red {
  color: red;
}

.title-quiz-up {
  margin-left: 20%;
  margin-top: 15px !important;
  text-align: start;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (min-width: 1024px) {
  .event-rounds-card {
    width: 211px;
  }
}
