.breadcrumb-title {
  padding: 14px 0 !important;
}

.outer-event-card {
  background: #fff;
  padding: 24px;
  min-height: 580px;
}

.event-rounds-label {
  font-size: 14;
  color: black !important;
  margin-bottom: 16px;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: column;
}

.event-date-label {
  color: darkgray;
  padding: 16px;
  font-size: 15px;
}
