.header-game {
  align-items: center;
  color: dodgerblue;
  display: flex;
  justify-content: space-around;
}

.game-content {
  display: flex;
  flex-direction: row;
}

.round-title {
  color: dodgerblue;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.round-loading {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}

.missing-teams {
  font-size: 24px;
  text-align: center;
}

.teams-container {
  background-color: whitesmoke;
  color: dodgerblue;
  height: 100vh;
  width: 25%;
}

.team-name {
  border-bottom: 1px solid black;
  font-size: 19.5px;
  text-align: center;
}

.lds-ring {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 5%;
  height: 5%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 5%;
  height: 5%;
  margin: 8px;
  border: 8px solid dodgerblue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: dodgerblue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
