.header-game {
  align-items: center;
  color: dodgerblue;
  display: flex;
  justify-content: space-around;
}

.game-content {
  display: flex;
  flex-direction: row;
}

.round-title {
  color: dodgerblue;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.round-loading {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}

.missing-teams {
  font-size: 24px;
  text-align: center;
}

.teams-container {
  background-color: whitesmoke;
  color: dodgerblue;
  height: 100vh;
  width: 25%;
}

.team-name {
  border-bottom: 1px solid black;
  font-size: 19.5px;
  text-align: center;
}
