.more-info-label {
  color: dodgerblue !important;
}

.start-round-btn {
  color: #fff !important;
  background-color: green;
  padding: 10px;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
