svg {
  margin-bottom: 5px;
}

.accordion-container {
  font-weight: bold !important;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.end-round-fab {
  position: fixed !important;
  left: 0;
  bottom: 0;
  margin: 15px !important;
  z-index: 1001;
}
