.cursor-pointer {
  cursor: pointer;
}

.finished-round-banner {
  font-weight: bold;
  background: dodgerblue;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .finished-round-banner {
    letter-spacing: 10px;
  }
}
